.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.headerRight{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:15px
}

.headerRightTheme{
    @apply hover:text-orange-600 font-normal hover:font-bold
}

    
